/* ------ Nav Bar.js-------- */
.Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: linear-gradient(#00000025, #0f010e00);
  padding: 2px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--FontColor);
}
.Nav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.Nav nav ul li a {
  color: var(--Light);
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
  background-color: var(--LightBlue);
  min-width: 80px;
  padding: 7px 15px;
  margin: 10px;
  border-style: solid;
  border-radius: 30px;
  text-align: center;
}
.Nav nav ul li a:hover {
  background-color: var(--Light);
  color: var(--FontColor);
}
.Nav nav ul li:last-child {
  margin-right: 0;
}

/* ----- Footer.js ------*/

.Footer {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  padding: 1%;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin-top: 7%;
}

/* ---- Home.js ----- */

.home {
  min-height: 80vh;
}
.Header {
  margin-top: 10%;
  min-height: 30vh;
  color: var(--FontColor);
}
.about {
  text-align: center;
  max-width: 800px;
  margin: auto;
  font-size: 1em;
  padding: 2%;
}
.about a {
  font-size: 1em;
  color: var(--FontColor);
}
.about a:hover {
  color: var(--Gold);
}
/* content */

.content {
  min-height: 500px;
  margin: auto 3%;
  background-color: var(--LightBlue);
  color: var(--Light);
  border-radius: 30px;
  padding: 3%;
}

/* ------ history page -----*/

/* ------- View Page ---------- */

.viewRecipe p {
  padding: 2% auto;
}
.viewRecipe {
  padding-left: 1%;
  padding-right: 1%;
}
.recipeTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.imgWithIngredients {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2%;
  flex-wrap: wrap;
}
.imgWithIngredients img {
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
}
.ingredients li {
  list-style-type: circle;
}
