

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* nav bar */
.Nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: linear-gradient(#0000009e, #0f010e00);
  padding: 2px 32px;
}

.Nav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav nav ul li {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
}

.Nav nav ul li:last-child {
  margin-right: 0;
}

/* header */
.Header {
  min-height: 50vh;
  color: var(--FontColor);
}
/* content */

.recipe{
  max-width: 500px;
  margin: auto;
  background-color: var(--RecipeCard);
  color: var(--Light);
  border-radius: 30px;
  padding: 3%;
}