:root {
  --Background: #e2e1e1;
  --Light: #fff;
  --Gold: #e9ae0c;
  --FontColor: #010101;
  --LightBlue: #2a4e88;
  --Gray: #2d2d2d;
  --DarkBlue: #01054d;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Background);
}
a { 
  font-size: 1.3em;
  text-decoration: none;
  color: var(--Light);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
